body {
  font-family: Helvetica;
  text-align: center;
}

.title {
  font-size: 70px;
}

.subtitle {
  font-size: 32px;
}

.section, .special {
  font-size: 23px;
}

.menu {
  font-size: 18px;
}

.title, a, .menu, .special {
  color: white;
}

.title, .subtitle, .section, .special {
  font-weight: bold;
}

#hero {
  background-image: url("../images/the-flatiron-building.png");
}
