html {
  font-family: Helvetica;
  text-align: center;
}

.title {
  font-size: 70px;
}

.subtitle {
  font-size: 32px;
}

.section, .special {
  font-size: 23px;
}

.menu a, {
  font-size: 18px;
}

.title, .menu a, .footer, .footer a, .special {
  color: white;
}

.title, .subtitle, .section, .special {
  font-weight: bold;
}

.footer {
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
}

#hero {
  background-image: url("../images/the-flatiron-building.png");
}
